{
    "branches": [ {"name": "main"}, {"name": "beta", "preRelease": true}, {"name": "alpha", "preRelease": true}],
    "release": {
        "prepare": [{
            "path": "@semantic-release/exec",
             "cmd": "echo ${nextRelease.version} > VERSION.txt ${nextRelease.version}"
        }]
    },
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        ["@semantic-release/exec", {
           "prepareCmd": "echo ${nextRelease.version} > VERSION.txt ${nextRelease.version}"
         }],
        "@semantic-release/github"
    ]
}
